# Ignore all files in node_modules
**/node_modules/**

# Ignore all files in .vscode
**/.vscode/**

# Ignore all files in public and dist
**/public/**
**/dist/**

# Ignore all files in .git
**/.git/**
.gitignore